---
layout: base.njk
---
<header>
    <h1>
        <a href="{{ site.url }}/about">{{ homepage.title or site.title }}</a> - blog
    </h1>

    {% if homepage.show_subtitle %}
        {% set subtitle = homepage.subtitle %}
        {% if subtitle %}
            <p>{{ subtitle }}</p>
        {% endif %}
    {% else %}
    <div id="nav">
        <a href="{{ site.url }}">beranda</a> -
        <a href="{{ site.url }}/about/">tentang saya</a>
    </div>
    {% endif %}
</header>
<main>
    <hr>
    {% set entries = homepage.menu %}
    {% include "menu.njk" %}
</main>