---
layout: base.njk
permalink: /project/
---
<header>
    <h1 style="margin:0px">
        <a href="{{ site.url }}/project">{{ project.title or site.title }}</a>
    </h1>

    {% if homepage.show_subtitle %}
        {% set subtitle = homepage.subtitle %}
        {% if subtitle %}
            <p style="margin-top: 0px">{{ subtitle }}</p>
        {% endif %}
    {% endif %}
    <div id="nav">
        <a href="{{ site.url }}/">beranda</a> -
        <a href="{{ site.url }}/project/">project</a> -
        <a href="{{ site.url }}/about/">tentang saya</a>
    </div>
</header>
<main>
    <hr>
    
    {% for entry in project.items %}
        <article style="border-bottom: 1px solid rgb(187, 187, 187); margin: 14px 0; padding: 14px 0">
            <div>
                <a href="{{ entry.detail_url }}" style="font-weight: bold; font-size: 22px">{{ entry.title }}</a>
            </div>
            {{ entry.description.slice(0, 200) }}... <a href="{{ entry.detail_url }}">selengkapnya</a>
            
            <div>
                <small>
                    Cek:
                    <a href="{{ entry.demo_url }}" target="_blank">Demo</a> -
                    <a href="{{ site.github_url }}" target="_blank">Github</a>
                </small>
            </div>
        </article>
    {% endfor %}

</main>