@import "tailwindcss";

article blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;
}

article blockquote p {
  margin: 0;
}

article pre {
  overflow-x: auto;
  padding: 1rem;
}

article pre {
  background: #333;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono",
    "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  display: block;
  padding: 15px 16px 14px;
  overflow-x: auto;
  font-size: 13px;
  line-height: 19px;
  color: #ddd;
  border-radius: 6px;
}

article p > code {
  background: #333;
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono",
    "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #ddd;
  font-size: small;
  padding: 4px 8px;
  border-radius: 6px;
}

article p,
ul,
ol {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #1d1d1d;
}
